<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="UserPropertyMappingSection" type=".DW.Profiles.AD.Config.UserPropertyMappingSection, .DW.Profiles"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <UserPropertyMappingSection>
    <ADExtensionAttributes>
      <ADExtensionAttribute name="extensionAttribute3" sharePointUserProfileProperty="Grade" sharePointTermset="Grades" useTermSet="true"/>
      <ADExtensionAttribute name="extensionAttribute5" sharePointUserProfileProperty="Region" sharePointTermset="Regions" useTermSet="true"/>
      <ADExtensionAttribute name="extensionAttribute6" sharePointUserProfileProperty="Country" sharePointTermset="Countries" useTermSet="true"/>
      <ADExtensionAttribute name="extensionAttribute7" sharePointUserProfileProperty="ADExtensionAttribute" sharePointTermset="ADExtensionAttributes" useTermSet="true"/>
      <ADExtensionAttribute name="extensionAttribute8" sharePointUserProfileProperty="-OfficeLocation" sharePointTermset="Office Locations" useTermSet="true"/>
      <ADExtensionAttribute name="extensionAttribute9" sharePointUserProfileProperty="-DeskLocation" sharePointTermset="-DeskLocation" useTermSet="true"/>
      <ADExtensionAttribute name="msExchExtensionCustomAttribute1" sharePointUserProfileProperty="-FormalAppointments" sharePointTermset="Formal Appointments" useTermSet="true"/>
      <ADExtensionAttribute name="department" sharePointUserProfileProperty="-CostCentre" sharePointTermset="Cost Centres" useTermSet="true"/>
      <ADExtensionAttribute name="title" sharePointUserProfileProperty="-OperationalTitle" sharePointTermset="" useTermSet="false"/>
      <ADExtensionAttribute name="employeeID" sharePointUserProfileProperty="-StaffID" sharePointTermset="" useTermSet="false"/>
      <ADExtensionAttribute name="ipPhone" sharePointUserProfileProperty="-PhoneExtension" sharePointTermset="" useTermSet="false"/>
    </ADExtensionAttributes>
  </UserPropertyMappingSection>
</configuration>